{% extends 'base.html' %}

{% block content %}

<div class="bg-white p-6 rounded-xl shadow max-w-md mx-auto">

<h2 class="text-xl font-bold mb-4 text-center">Login</h2>

<form method="POST" class="space-y-4">
    {% csrf_token %}

    <div>
        <label>Username</label>
        <input type="text" name="username"
            class="w-full border p-2 rounded-lg">
    </div>

    <div>
        <label>Password</label>
        <input type="password" name="password"
            class="w-full border p-2 rounded-lg">
    </div>

    <button class="w-full bg-blue-500 text-white py-2 rounded-lg">
        Login
    </button>

</form>

<p class="text-center mt-4">
    Don't have an account?
    <a href="/register/" class="text-blue-500">Register</a>
</p>

</div>

{% endblock %}